﻿@model CloudAssignment.Models.Domain.DriverCar

@{
    ViewData["Title"] = "Create";
}
<center>
<h1>Create</h1>

<h4>DriverCar</h4>
<hr />
<div class="row" style="display:flex; justify-content:center; align-items:center" >
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationPlate" class="control-label"></label>
                <input asp-for="RegistrationPlate" class="form-control" />
                <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload a file</label>
                <input type="file" name="logo" class="form-control" />
            </div>
            @inject CloudAssignment.DataAccess.Interfaces.ITypeRepository MyTypeService
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select class="form-control" name="Type">
                    @foreach (CarTypes t in MyTypeService.GetTypes())
                    {
                        <option value="@t.ServiceName">@t.ServiceName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wifi" /> @Html.DisplayNameFor(model => model.Wifi)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Airconitioned" /> @Html.DisplayNameFor(model => model.Airconitioned)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FoodandDrinks" /> @Html.DisplayNameFor(model => model.FoodandDrinks)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
