﻿@inject CloudAssignment.DataAccess.Interfaces.ICacheRepository MyCacheService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudAssignment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background: #ccc">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CloudAssignment</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*@foreach (Menu m in MyCacheService.GetMenus())
        {
            @if (User.Identity.Name != null)
            {
                if (m.Url.Contains("Admin"))
                {
                    if (User.IsInRole("ADMIN"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@m.Url">@m.Title</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="@m.Url">@m.Title</a>
                    </li>
                }
            }

        }*@
                        @if (User.Identity.Name != null)
                        {
                            if (User.IsInRole("ADMIN"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/SubbedBookings/Index">View Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/Admin/Create">Change Prices</a>
                                </li>
                            }
                            else if (User.IsInRole("PASSENGER"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/Map/Create">Create a Booking</a>
                                </li>
                            }
                            else if (User.IsInRole("DRIVER"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/Service/Index">View Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" href="/Car/Create">Upload Car</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["error"]
                </div>
            }

            @if (TempData["message"] != null)
            {
                <div class="alert alert-primary" role="alert">
                    @TempData["message"]
                </div>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CloudAssignment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
