﻿@model IEnumerable<CloudAssignment.Models.Domain.SubbedBookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Confirmed Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Driver Email
            </th>
            <th>
                Passenger Email
            </th>
            <th>
                Service Type
            </th>
            <th>
                Car Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassengerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
            </tr>
        }
    </tbody>
</table>