﻿@model CloudAssignment.Models.CarTypes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarTypes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @inject CloudAssignment.DataAccess.Interfaces.ITypeRepository MyTypeService
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <select class="form-control" name="ServiceName">
                    @foreach (CarTypes t in MyTypeService.GetTypes())
                    {
                        <option value="@t.ServiceName">@t.ServiceName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServicePrice" class="control-label"></label>
                <input asp-for="ServicePrice" class="form-control" />
                <span asp-validation-for="ServicePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
