﻿@model IEnumerable<CloudAssignment.Models.Domain.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Services</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Passenger Email
            </th>
            <th>
                Service Type
            </th>
            <th>
                Address From
            </th>
            <th>
                Address To
            </th>
            <th> Acknowledge</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressTo)
                </td>
                <td>
                    <form asp-action="Submit">
                        <input type="hidden" name="AckId" value=@item.AckId />
                        <input type="hidden" name="cat" value=@item.Type />
                        <input type="hidden" name="email" value=@item.Email />
                        <div class="form-group">
                            <input type="Submit" value="Acknowledge" class="btn btn-primary" />
                        </div>
                    </form>

                </td>

            </tr>
        }
    </tbody>
</table>